<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Airports</h2>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Code</th>
                <th>Runways</th>
                <th>Founded</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Heathrow Airport</td>
                <td>UK</td>
                <td>London</td>
                <td>108</td>
                <td>2</td>
                <td>1946</td>
            </tr>
            <tr>
                <td>Charles de Gaulle Airport</td>
                <td>France</td>
                <td>Paris</td>
                <td>109</td>
                <td>3</td>
                <td>1974</td>
            </tr>
            <tr>
                <td>Sydney Airport</td>
                <td>Australia</td>
                <td>Sydney</td>
                <td>110</td>
                <td>2</td>
                <td>1920</td>
            </tr>
            <tr>
                <td>Hong Kong International Airport</td>
                <td>Hong Kong</td>
                <td>Hong Kong</td>
                <td>111</td>
                <td>2</td>
                <td>1998</td>
            </tr>
            <tr>
                <td>Dubai International Airport</td>
                <td>UAE</td>
                <td>Dubai</td>
                <td>112</td>
                <td>3</td>
                <td>1960</td>
            </tr>
            <tr>
                <td>Shanghai Pudong International Airport</td>
                <td>China</td>
                <td>Shanghai</td>
                <td>113</td>
                <td>4</td>
                <td>1999</td>
            </tr>
            <tr>
                <td>Tokyo Haneda Airport</td>
                <td>Japan</td>
                <td>Tokyo</td>
                <td>114</td>
                <td>3</td>
                <td>1931</td>
            </tr>
            <tr>
                <td>Indira Gandhi International Airport</td>
                <td>India</td>
                <td>New Delhi</td>
                <td>115</td>
                <td>4</td>
                <td>1962</td>
            </tr>
            <tr>
                <td>Singapore Changi Airport</td>
                <td>Singapore</td>
                <td>Singapore</td>
                <td>116</td>
                <td>5</td>
                <td>1981</td>
            </tr>
            <tr>
                <td>Frankfurt Airport</td>
                <td>Germany</td>
                <td>Frankfurt</td>
                <td>117</td>
                <td>2</td>
                <td>1936</td>
            </tr>
            <tr>
                <td>Beijing Capital International Airport</td>
                <td>China</td>
                <td>Beijing</td>
                <td>118</td>
                <td>3</td>
                <td>1958</td>
            </tr>
            <tr>
                <td>Adolfo Suárez Madrid–Barajas Airport</td>
                <td>Spain</td>
                <td>Madrid</td>
                <td>119</td>
                <td>4</td>
                <td>1928</td>
            </tr>
            <tr>
                <td>Denver International Airport</td>
                <td>USA</td>
                <td>Denver</td>
                <td>120</td>
                <td>6</td>
                <td>1995</td>
            </tr>
            <tr>
                <td>Atlanta Hartsfield-Jackson International Airport</td>
                <td>USA</td>
                <td>Atlanta</td>
                <td>121</td>
                <td>7</td>
                <td>1925</td>
            </tr>
            <tr>
                <td>Amsterdam Airport Schiphol</td>
                <td>Netherlands</td>
                <td>Amsterdam</td>
                <td>122</td>
                <td>5</td>
                <td>1916</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-wrapper">
    <button class="show-form-button">Show Form</button>
    <form method="post">
        <fieldset>
            <legend>Add New Airport</legend>
            <label for="name">Name</label>
            <input type="text" id="airport-name" name="name">
            <label for="counry">Country</label>
            <input type="text" id="airport-counry" name="counry">
            <label for="city">City</label>
            <input type="number" id="airport-code" name="code">
            <label for="code">Code</label>
            <input type="text" id="airport-city" name="city">
            <label for="runways">Runways</label>
            <input type="number" id="airport-runways" name="runways">
            <label for="founed">Founded</label>
            <input type="date" id="airport-founded" name="founded">
            <input type="submit" value="Submit" class="submit-form-button">
        </fieldset>
    </form>
</div>