@model Airlines.Web.Models.HomeViewModel

<h2 class="dashboard-header">
    Welcome To Dashboard
</h2>
<div class="card-container">
    <div class="card-wrapper">
        <div class="card">
            Airports
            <img src="~/assets/mdi_airport.png" alt="airport-icon">
            @Model.AirportsCount
        </div>
        <a asp-controller="Airports" asp-action="Index"><button class="dashboard-button">Add New Airport</button></a>
    </div>
    <div class="card-wrapper">
        <div class="card">
            Airlines
            <img src="~/assets/ri_plane-fill.png" alt="plane-icon">
            @Model.AirlinesCount
        </div>
        <a asp-controller="Airlines" asp-action="Index"><button class="dashboard-button">Add New Airline</button></a>
    </div>
    <div class="card-wrapper">
        <div class="card">
            Flights
            <img src="~/assets/carbon_flight-schedule.png" alt="flight-icon">
            @Model.FlightsCount
        </div>
        <a asp-controller="Flights" asp-action="Index"><button class="dashboard-button">Add New Flight</button></a>
    </div>
</div>