@model IEnumerable<Airlines.Service.Dto.AirlineDto>

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" class="arrow-back">
        <img src="./assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Airlines</h2>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Founded</th>
                <th>Fleet Size</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Founded)</td>
                    <td>@Html.DisplayFor(modelItem => item.FleetSize)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-wrapper">
    <button class="show-form-button">Show Form</button>
    <form asp-controller="Airlines" asp-action="AddAirline" method="post">
        <fieldset>
            <legend>Add New Airline</legend>
            <label asp-for="First().Name">Name:</label>
            <input asp-for="First().Name" class="form-control">
            <label asp-for="First().Founded">Founded:</label>
            <input asp-for="First().Founded" class="form-control" type="date">
            <label asp-for="First().FleetSize">Fleet Size:</label>
            <input asp-for="First().FleetSize" class="form-control" type="number">
            <label asp-for="First().Description">Description:</label>
            <textarea asp-for="First().Description" class="form-control"></textarea>
            <input type="submit" value="Submit" class="submit-form-button">
        </fieldset>
    </form>
</div>