* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    font-weight: 200;
  }

  .logo span {
    padding: 0.3rem;
    
}

.nav-bar {
    padding: 0.5rem;
  }
  

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
}

.nav-link {
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  

li {
    display: inline;
  }